body {
    padding-top: 50px;
}

a,
a:hover,
a:focus {
    color: #ed1c24;
}

.remodal-close {
    left: auto;
    right: 0;
}

.m-stembureau-stats {
    text-align: left;
}

.m-stembureau-stats tr td:first-of-type {
    font-weight: bold;
}

.m-stemmen th {
    text-align: center;
}

.tooltip {
    z-index: 99999;
}

.stembureau-row {
    cursor: pointer;
}

.m-stemmen {
    padding-top: 50px;
}

.pie-chart-wrapper {
    margin-bottom: 50px;
}

.google-maps {
    margin-top: 50px;
}